{% extends "layout.html" %}
{% block content %}
    <h2>Hello {{current_user.username}}</h2>

    <a href="{{ url_for('add_book') }}">Submit a book to the database</a>
    <br>
    <a href="{{ url_for('create_shelf') }}">Create a new shelf</a>

    {% for shelf in shelves %}

    <h4><a class="article-title" href="{{ url_for('shelf', shelf_id=shelf.id) }}">{{ shelf.name }}</a></h4>
    <p>{{ shelf.description }}</p>

    {% endfor %}
    <div class="row justify-content-center">
        <div class="col-6">     
        </div>
    </div>
{% endblock content %}

