{% extends "layout.html" %}
{% block content %}
    <h2>{{ shelf.name }}</h2>
    <p>{{ shelf.description }}</p>
    <div>
        <div class="col-6">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <div class="form-group">
                {{ form.book.label }}

                {% if form.book.errors %}
                    {{ form.book(class="is_invalid") }}
                        {% for error in form.book.errors %}
                            <span class="form-text text-danger">{{ error }}</span>
                        {% endfor %}
                {% else %}
                    {{ form.book(class="form-control") }}
                {% endif %}
            </div>
            <div>
                {{ form.submit(class="btn btn-dark") }}
            </div>
        </form>

        {% for book in shelved_books %}

            <p>{{ book }}</p>
    
        {% endfor %}
    </div>
{% endblock content %}